@import url('base.css');

:root{
    --cor-menu: #2d572c !important;
    --cor-fonte-menu: #fff !important;
}

.nav-custom {
    background-color: var(--cor-menu);
}



.navbar-brand, .nav-link {
    color: var(--cor-fonte-menu);
}


main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }
}