
.card {
  flex: 0 0 calc(100% / 3 - 1rem);
}

/* Tablet: 2 cards */
@media (max-width: 991px) {
  .card {
    flex: 0 0 calc(100% / 2 - 1rem);
  }
}

/* Celular: 1 card */
@media (max-width: 767px) {
  .card {
    flex: 0 0 100%;
  }
}
