.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card {
  flex: 0 0 calc(100% / 3 - 1rem);
}

.div-carousel {
  width: 100%;
  overflow: hidden;
}

.div-carousel .card{
    margin: 10px 3px;
}


.list-card {
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: flex-start;

}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;   
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-justify{
  text-align: justify;
}

#animais img {
  height: 200px;      /* defina a altura fixa que quiser */
  width: 100%;        /* ocupa toda a largura */
  object-fit: contain;  /* corta as bordas se necessário */
}

section {
  scroll-margin-top: 80px;
}

/* Tablet: 2 cards */
@media (max-width: 991px) {
  .card {
    flex: 0 0 calc(100% / 2 - 1rem);
  }
}

/* Celular: 1 card */
@media (max-width: 767px) {
  .card {
    flex: 0 0 100%;
  }
}